
<ion-content>
  <div class="con" >
      <div class="title"  >
        <ul name="shoudong">
          <li class="fanhui" (click)="back()" >
            <i class="iconfont icon-back"></i>
          </li>
          <li class="names">所在位置</li>
          <li class="right_title" (click)="sendMessage(action.value)">完成</li>
        </ul>
      </div>
      <div class="top">
        <div class="in_con">
          <input #action id="suggestId" class="iconfont" type="search" value="{{txtin}}" placeholder="&#xe680;搜索附近位置" name="keyword"/>
        </div>
      </div>
      <!--<button class="btn" id="searchResultPanel" onclick="search()">搜索</button>-->
      <!--<div class="shoudong" (click)="back()">-->
        <!--<span>地图搜索</span>-->
      <!--</div>-->
    </div>
  <!--<div id = "map" style="width:100%;height: 390px"></div>-->
  <div id="allmap" style="width:100%;height: 690px"></div>
  <!--<div id="l-map"  ></div>-->
  <div id="r-result"></div>
  <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>

</ion-content>