<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button class="tab-item" tab="renwu">
          <i class="iconfont icon-wenjianjia1"></i>
          <!--<i class="iconfont icon-wenjianjia1"></i>-->
          <!--<img src="../../assets/img/bottom.png" >-->
          <!--<div class="imga">-->
              <!--<img src="../../assets/img/bottom.png" >-->
          <!--</div>-->
          <ion-label (click)="test()">任务</ion-label>
      </ion-tab-button>
      <!--<ion-tab-button class="tab-item it"  (click)="move()">-->
      <ion-tab-button class="tab-item it" tab="wode" >
          <!--<i class="iconfont icon-people1"*ngIf=""></i>-->
          <i class="iconfont icon-people1" ></i>
          <ion-label>我的</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

 