.tab-item{ color: #666666; max-width: 50% !important;}
.tab-item[aria-selected=true]{ color: #ff6600;}

.it{ border-left: #e9e9e9 solid 1px;}
//.imga{
//  width: 20%;
//  height: 40%;
//  background-color: yellow;
//
//}
//.imga img{
//
//}