<ion-header>
    <div class="yemei">
        <ul name="chengse">
            <li class="fanhui" [routerLink]="['/default/wode']">
                <i class="iconfont icon-back"></i>
            </li>
            <li class="names">小金库</li>
            <li class="right_title"></li>
        </ul>
      </div>
  </ion-header>
  
  <ion-content>
    <div class="bg_body">
        <div class="huobi_tou">
          <ul class="titles">余额</ul>
          <ul class="huobizhi"><samp>60</samp>元</ul>
          <ul class="anniu">去提现</ul>
        </div>
  
        <div class="huobi_big">
            <ul>
                <li class="zhuanru" [routerLink]="['/xiaojinku']">转入</li>
                <li class="zhuanchu bian" >转出</li>
            </ul>
        </div>
  
        <div class="huobi_list">
          <ul>
            <li name="titles">项目现场拍照 <samp>+30</samp></li>
            <li name="miaoshu">新型混练胶生产项目<samp>2018-11-12   13:00</samp></li>
          </ul>
          <ul>
              <li name="titles">项目现场拍照 <samp>+30</samp></li>
              <li name="miaoshu">新型混练胶生产项目<samp>2018-11-12   13:00</samp></li>
          </ul>
          <ul>
              <li name="titles">项目现场拍照 <samp>+30</samp></li>
              <li name="miaoshu">新型混练胶生产项目<samp>2018-11-12   13:00</samp></li>
          </ul>
          <ul>
              <li name="titles">项目现场拍照 <samp>+30</samp></li>
              <li name="miaoshu">新型混练胶生产项目<samp>2018-11-12   13:00</samp></li>
          </ul>
          <ul>
              <li name="titles">项目现场拍照 <samp>+30</samp></li>
              <li name="miaoshu">新型混练胶生产项目<samp>2018-11-12   13:00</samp></li>
          </ul>
        </div>
    </div>
    
  
  </ion-content>
  