@import "../../style/common.scss";
//@import "../../style/tou_wei.scss";

.header-md:after {
  left: 0;
  bottom: -8px;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAIBAMAAAACWGKkAAAAFVBMV…AAAB9JREFUCNdjEIQCBiUoYDCGAgYXKGAIhQKGNChgwAAAorMLKSCkL40AAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  content: "";}
.yemei{  height: 50px;    }

.yemei ul[name="chengse"]{ height: 50px; line-height: 50px; font-size: 18px;color: #666666; text-align: center; }
.yemei ul[name="baise"]{ height: 56px; line-height: 56px; font-size: 20px; color: #333333; text-align: center;background: #ffffff; }
.yemei ul li{ float: left; height: 56px; overflow: hidden;line-height: 56px}
.yemei .diqu{ width: 28%; text-align: left; padding-left: 0.6rem; font-size: 14px; background: url(../../assets/img/diqu_io.png) 0.2rem center no-repeat; line-height: 56px; background-size: auto 18px;}
.yemei .names{ width: 40%; text-align:center; font-weight: 600;  }
.yemei .xiaoxi{ width: 28%; text-align: right; padding-left: 0.6rem; font-size: 16px; }
.yemei .xiaoxi samp{ width: 18px; height: 18px; font-weight: bold; font-size: 12px; margin-left: 0.05rem; display: block; background: #ffffff; border-radius: 10px; float: right; color: #ff6600; margin-top: 19px; margin-right: 0.2rem; line-height: 18px; text-align: center;}
.yemei .fanhui{ width: 2.1rem; text-align: left; padding-left: 0.2rem; font-size: 16px; line-height: 56px;  }
.yemei .right_title{ width: 2.1rem; text-align:right; padding-right: 0.2rem; font-size: 16px; line-height: 56px;  }

.contain{
  background: ghostwhite;
}
.con{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 0.25rem;
  color:#3c3c3c;
}
.contain .con h6{font-weight: bold}
.contain .con .first{text-indent:2em}