<ion-header>
  <div class="yemei">
      <ul name="baise">
          <li class="fanhui" [routerLink]="['/default/wode']">
              <i class="iconfont icon-back"></i>
          </li>
          <li class="names">斗金</li>
          <li class="right_title"></li>
      </ul>
    </div>
</ion-header>

<ion-content>
  <div class="bg_body">
    <div class="gy_img">
      <ul class="imgs"><img src="../../assets/img/1ss.png" alt=""></ul>
      <ul class="names">斗金</ul>
    </div>
    <div class="gy_body">
      关于斗金：<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;斗金app由谛听资讯（北京）有限公司主办，专注于为全国建筑领域从业人士提供的商务兼职平台，类别包含：建筑项目现场拍照、代购标书......等，依托三万家会员企业发布建筑领域真实有效的商务兼职信息。<br>

    </div>
  </div>
</ion-content>
