<ion-header>
  <div class="yemei">
    <ul name="baise">
      <li class="fanhui"  (click)="back()">
        <i class="iconfont icon-back"></i>
      </li>
      <li class="names">任务详情</li>
      <!-- <li class="right_title">任务说明</li> -->
    </ul>
  </div>
</ion-header>

<ion-content>
  <div class="gonggong_tanchuang" *ngIf="showBigImageState">
    <ul class="yangli_num">{{big_img_ti+1}}/{{big_img_count}}</ul>
    <ul class="yangli" (swipe)="swipeEvnet($event)">
      <!--
     <img src="../../assets/img/ls.jpg" >
     -->
      <img [src]="big_img">
    </ul>
    <ul class="guanbi" (click)="hideBigImage()"></ul>
  </div>

  <div class="renwu_con_jbqk no_bian">
    <ul class="titles">
      <li name="zhaopian"><img [src]="tasksListCon.task?.top_img_name_https"></li>
      <li name="names">{{tasksListCon.task?.name}}</li>
      <li name="jiangli"></li>
    </ul>
    <ul class="f_titles">
      <li>
        <span class="header"><samp name="head">项目名称：</samp></span>
        <span class="cont"><samp>{{tasksListCon.task?.name}}</samp></span>
      </li><br>
      <li>
        <span class="header"><samp name="head">项目介绍：</samp></span>
        <span class="cont"><samp>{{tasksListCon.task?.description}}</samp></span>
      </li><br>
      <li>
        <span class="header"><samp name="head">项目地址：</samp></span>
        <span class="cont"><samp>{{tasksListCon.task?.address}}</samp></span>
      </li><br>
      <li>
        <span class="header"><samp name="head">项目单位：</samp></span>
        <span class="cont"><samp>{{tasksListCon.task?.owner}}</samp></span>
      </li><br>
    </ul>
  </div>


  <div class="renwu_zhuangtai">
    <ul class="jianju"></ul>
    <ul class="titles">状态:<samp name="lvse">任务已过期</samp>  </ul>
    <ul class="jiangli">
      <li name="titles">获得奖励</li>
      <li name="cons" *ngIf="tasksListCon.mytask.bonus_type==1">{{tasksListCon.mytask?.bonus_r}}导航币+{{tasksListCon.mytask?.bonus_x}}信誉值</li>
      <li name="cons" *ngIf="tasksListCon.mytask.bonus_type==0">{{tasksListCon.mytask?.bonus_r}}人民币+{{tasksListCon.mytask?.bonus_x}}信誉值</li>
    </ul>
    <ul class="lists" *ngFor="let item_vv of tasksListCon.mytask?.action_records; index as i_v;" >
      <samp *ngIf="item_vv.action==1">任务领取时间：{{item_vv.created}}</samp>
      <samp *ngIf="item_vv.action==2">任务提交时间：{{item_vv.created}}</samp>
      <!--<samp *ngIf="item_vv.action==3">审核反馈时间：{{item_vv.created}}（{{item_vv.reason_rejected}}）</samp>-->
      <samp *ngIf="item_vv.action==3">审核反馈时间：{{item_vv.created}}</samp>
      <samp *ngIf="item_vv.action==9">审核通过时间：{{item_vv.created}}</samp>
      <samp *ngIf="item_vv.action==11">奖励领取时间：{{item_vv.created}}</samp>
      <samp *ngIf="item_vv.action==10">任务已过期</samp>
    </ul>
  </div>

  <div class="renwu_con_miaoshu finish">
    <ul class="jianju"></ul>
    <ul class="titles_2">提交内容：</ul>
    <ul class="lists" *ngFor="let item of tasksListCon.mytask?.my_tt_list; index as list_i;">
      <li name="titles">
        <span class="header">{{list_i+1}}.</span>
        <span class="con_finish"><samp>{{item.name}}</samp></span>
        <span class="bot_finish">
                <a *ngIf="item.my_task_items.state==0" name="tishi_lvse" class="clear">（未审核）</a>
                <a *ngIf="item.my_task_items.state==1" name="tishi_lvse" class="clear">（审核通过：40导航币＋6信誉值）</a>
                <a *ngIf="item.my_task_items.state==2" name="tishi_hongse" class="clear">（未通过，{{item.my_task_items.reason_rejected}}）</a>
                <a *ngIf="item.my_task_items.state==3" name="tishi_hongse" class="clear">（放弃）</a>
              </span>

      </li>
      <li name="titles" id="object" *ngIf="item.is_gps==1"><samp>{{tasksListCon.mytask?.address}} </samp></li>
      <li name="imgs" *ngIf="item.is_gps!=1">
        <img *ngFor="let item_v of item.img_name; index as i;" [src] = "img_url+'/'+item_v.img_name" (click)="showBigImages(list_i,i,0)">
      </li>
    </ul>
  </div>
  <ul class="lingqu " (click)="insertMyTasksCon(tasksListCon.task.id)">重新领取任务</ul>
</ion-content>
