<ion-header>
  <div class="yemei">
      <ul name="baise">
          <li class="fanhui" [routerLink]="['/index']">
              <i class="iconfont icon-back"></i>
          </li>
          <li class="names">任务详情</li>
          <li class="right_title"></li>
      </ul>
    </div>
</ion-header>

<ion-content>
<div class="renwu_con_jbqk">
  <ul class="titles">
    <li name="zhaopian"><img src="./assets/img/ls.jpg" alt=""></li>
    <li name="names">项目现场拍照</li>
    <li name="jiangli">最多奖励<samp>￥100元</samp></li>
  </ul>
  <ul class="f_titles">
      <li>
          <span class="header"><samp name="head">项目名称：</samp></span>
          <span class="cont">新型混练胶生产线项目</span>
      </li><br>
      <li>
          <span class="header"><samp name="head">项目介绍：</samp></span>
          <span class="cont">甲方投资10亿元新建新型混练胶生产线项目，预计2021年投入使用。建成后年产新型橡胶18万吨。</span>
      </li><br>
      <li>
          <span class="header"><samp name="head">项目地址：</samp></span>
          <span class="cont">河北省保定市市南开发区东方路28号</span>
      </li><br>
      <li>
          <span class="header"><samp name="head">项目单位：</samp></span>
          <span class="cont">河北信达实业有限公司</span>
      </li><br>
      <!--<samp>项目名称：</samp>新型混练胶生产线项目<br>-->
      <!--<samp>项目介绍：</samp>甲方投资10亿元新建新型混练胶生产线项目，预计2021年投入使用。建成后年产新型橡胶18万吨。<br>-->
      <!--<samp>项目地址：</samp>河北省保定市市南开发区东方路28号<br>-->
      <!--<samp>项目单位：</samp>河北信达实业有限公司<br> -->
  </ul>
</div>

<div class="renwu_dh">
  <li class="out" [routerLink]="['/renwu-con']">任务说明</li>
  <li class="on">酬劳细则</li>
</div>

<div class="renwu_choulao">
  <ul class="titles"><li>任务分项</li><li>奖励方案一</li><li>奖励方案二</li></ul>
  <ul class="titles_list">
      <li >1. 工程概况牌照片</li>
      <li name="jiangli"><samp>10</samp>元＋<samp>2</samp>信誉值</li>
      <li name="jiangli"><samp>10</samp>导航币＋<samp>4</samp>信誉值</li>
  </ul>
  <ul class="titles_list">
      <li >2. 现场管理人员及联<br> 系方式公示牌照片</li>
      <li name="jiangli"><samp>20</samp>元＋<samp>2</samp>信誉值</li>
      <li name="jiangli"><samp>20</samp>导航币＋<samp>3</samp>信誉值</li>
  </ul>
  <ul class="titles_list">
      <li >3. 环境公示牌</li>
      <li name="jiangli"><samp>20</samp>元＋<samp>1</samp>信誉值</li>
      <li name="jiangli"><samp>20</samp>导航币＋<samp>3</samp>信誉值</li>
  </ul>
  <ul class="titles_list">
      <li >4. 项目部通讯录照片</li>
      <li name="jiangli"><samp>40</samp>元＋<samp>3</samp>信誉值</li>
      <li name="jiangli"><samp>40</samp>导航币＋<samp>6</samp>信誉值</li>
  </ul>
  <ul class="titles_list">
      <li >5. 施工现场照片</li>
      <li name="jiangli"><samp>5</samp>元＋<samp>1</samp>信誉值</li>
      <li name="jiangli"><samp>5</samp>导航币＋<samp>2</samp>信誉值</li>
  </ul>
  <ul class="titles_list">
      <li >6. 现场地理位置</li>
      <li name="jiangli"><samp>5</samp>元＋<samp>1</samp>信誉值</li>
      <li name="jiangli"><samp>5</samp>导航币＋<samp>2</samp>信誉值</li>
  </ul>  
  <ul class="ftitles"><li name="titles">最多</li><li>100元＋10信誉值</li><li>100导航币＋20信誉值</li></ul>

  <ul class="content">
    <li name="titles"><samp>!</samp> 第2、3、4项审核均未通过，其余项视为无效</li>
    <li name="miaoshu"><samp>导航币有什么用？</samp><br> 导航币可在换购导航网信息服务、广告服务时享受折扣优惠</li>
  </ul>

  <ul class="content no_bian"> 
      <li name="miaoshu"><samp>信誉值是什么？</samp><br> 
        信誉值是用户对导航网的贡献值:<br>
        》信誉值越高，可领取任务越多:<br>
        <samp name="hui">

        </samp>
        》信誉值大于100，可选择其他城市任务<br>
        》导航网将按信誉值大小优先向业主推荐<br>
        》另外还有机会获得惊喜礼包，获邀参加导航网的福利旅游、公司年会等老会员回馈活动。
      </li>
  </ul>
  <ul class="lingqu">领取任务</ul> 
</div>  
 

</ion-content>
