<ion-content>
    <div class="gonggong_tanchuang" *ngIf="showBigImageState">
        <ul class="yangli_num">
            <h2>用户隐私协议概要</h2>
            <ul class="con">
                <li class="msg">
                    欢迎使用斗金客户端，软件使用完全免费，在使用过程中会产生数据流量和流量费用请咨询当地运营商。<br>
                    在使用斗金的过程中，为了正常使用相关功能，将会使用您手机中的地理位置、相机功能，并涉及系统权限设置修改。<br>
                    我们郑重承诺：信息以加密方式传输，绝不会泄露您的个人信息。
                </li>
                <li class="container">
                   查看完整版<span (click)="open_permission()">《用户服务协议》</span>及<span (click)="open_xiaoxi()">《隐私政策》</span>。
                </li>
            </ul>
            <ul class="bt">
                <li>
                    <span class="reject" (click)="reject()">不同意</span>
                </li>
                <li>
                    <span (click)="agree()">同意</span>
                </li>
                
            </ul>
        </ul>
        <ul class="yangli">

        </ul>
        <!-- <ul class="guanbi" (click)="hideBigImage()"></ul> -->
    </div>
        <div class="container">
            <div class="login">
            <ul class="titles">登录</ul>
            <ul class="inputs">
                <li class="names">手机号</li>
                <li class="inputs_sjh">
                    <label>
                        <input type="search" value="value" class="phone" placeholder="请输入手机号" autocomplete="on" [(ngModel)]="sjName">
                    </label>
                </li>
                <li class="huoqu">
                    <samp>
                        <button type="button" (click)="getYanzheng()" [disabled]="doubleHitPress" >{{mobileCode.name}}</button>
                        <!--<button ion-button full  (click)="getYanzheng()" [disabled]="!mobileCode.disable"  > {{computeTime>0 ? `已发送(${computeTime}s)` : '获取验证码'}}</button>-->
                    </samp>
                </li>
            </ul>
            <ul class="inputs">
                <li class="names">验证码</li>
                <li class="inputs_sjh">
                    <label>
                        <input type="text"  class="yzm" placeholder="请输入验证码" [(ngModel)]="yzmName">
                    </label>
                </li>
            </ul>
            <ul class="denglu">
                <button ion-button full  (click)="login();" [disabled]="!logoCode.disable" >{{logoCode.name}}</button>
            </ul>
            <!--<app-listscroll>-->
            <!--<li class="item" *ngFor="let item of list; let num = index;">第{{num}}个</li>-->
            <!--</app-listscroll>-->
            <div class="login_bottom">
                    <ul class="names" >
                        <!--            -->
                        <!--            <span class="agreement">《斗金使用协议和隐私政策》</span>-->

                        <li class="agreement">
                            <!--                <label class="checkbox">-->
                            <!--                    <input type="checkbox" checked="">-->
                            <!--                </label>-->
                            <span>登录即代表您已经同意</span><br>
                            <span (click)="open_permission()" class="pact">《用户服务协议》</span>和<span class="pact"(click)="open_xiaoxi()" >《隐私政策》</span></li>
                    </ul>
                </div>
        </div>

        </div>

<!--  <div class="login_bottom">-->
<!--    <ul class="names">微信登录</ul>-->
<!--    <ul class="io" (click)="weChatAuth()"><img src="./assets/img/wx_io.png" /></ul>-->
<!--  </div>-->

</ion-content>
